@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "DM Mono", monospace;
  list-style: none;
  text-decoration: none;
  color: var(--textColor);
}

body {
  background-color: var(--bodyBackground);
}
:root {
  --bodyBackground: #eff0d1;
  --textColor: #262730;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.leagueTabs ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.leagueTabs ul li {
  margin-left: 20px;
  padding: 5px;
  transition: 400ms all;
}
.leagueTabs ul li:first-child {
  margin-left: 0;
}
.leagueTabs ul li:hover {
  color: var(--bodyBackground);
  background-color: #f7a072;
}
.labelsAndInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lInputs {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-left: 60px;
}
.buttonAndContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lLabels h4 {
  margin-top: 8px;
  font-size: 17px;
  color: var(--textColor);
}
.lInputs input {
  margin-top: 8px;
  font-size: 17px;
}
.buttonAndContent {
  background-color: #eb5e55;
  width: 500px;
  height: 200px;

  border-radius: 6px;
}
.leagueContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lAddTeams a {
  margin-top: 60px;
  padding: 2px;
}
.leagueButton {
  background-color: #d3d0cb;
  margin-top: 40px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
  transition: 400ms all;
}
.leagueButton:hover {
  background-color: #bacdb0;
}
.teamNames {
  display: flex;
  align-items: center;
  justify-content: center;
}
